#sitemap {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s;
}
#sitemap.on {
    top: 0;
}
#sitemap > .wrap {
    border: 1px solid #dcdcdc;
    border-top: 0;
}
#sitemap a {
    display: block;
}
#sitemap .dep1 {
    background-color: #fff;
    background-image: url(./app/public/design/images/sub/bg_sitemap.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
#sitemap .dep1 > li {
    float: left;
    width: 33.3333%;
}
#sitemap .dep1 > li > a {
    font-size: 20px;
    color: #5d5147;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    border-left: 1px solid #dcdcdc;
    position: relative;
    background-color: #f5f5f5;
}
#sitemap .dep1 > li > a span {
    display: none;
}
#sitemap .dep1 > li > a:after {
    display: block;
    height: 4px;
    background-color: #fcaf17;
    position: absolute;
    bottom: -2px;
    left: -1px;
    right: -1px;
    content: '';
}
#sitemap .dep1 > li:first-child > a,
#sitemap .dep1 > li:nth-child(4) > a {
    border-left: 0;
}
#sitemap .dep1 > li > div {
    padding: 30px 40px;
    height: 140px;
    border-left: 1px solid #dcdcdc;
}
#sitemap .dep1 > li:first-child > div,
#sitemap .dep1 > li:nth-child(4) > div {
    border-left: 0;
}
#sitemap .dep2 > li {
    margin-top: 10px;
}
#sitemap .dep2 > li:first-child {
    margin-top: 0;
}
#sitemap .dep2 > li > a {
    font-size: 17px;
    color: #5d5147;
    font-weight: 500;
}
#sitemap .dep3 {
    padding: 10px;
}
#sitemap .dep3 > li {
    margin-top: 10px;
}
#sitemap .dep3 > li:first-child {
    margin-top: 0;
}
#sitemap .dep3 > li > a {
    font-size: 15px;
    color: #787878;
    font-weight: 300;
}
#sitemap .dep3 > li > a span {
    margin-right: 10px;
}

#sitemap #btnSitemapCl {
    position: absolute;
    bottom: -1px;
    right: -1px;
}

@media screen and (max-width: 1130px) {
    #sitemap > .wrap {
        padding: 0;
    }
}
@media screen and (max-width: 1023px) {
    #sitemap {
        display: none;
    }
}

.input_a {
    background-color: #fff;
    color: #000;
    border: 1px solid #c4cad1;
    font-family: '돋움', '굴림', 'verdana', 'arial';
    font-size: 9pt;
    padding: 2px 0 0 3px;
}
.select_a {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    font-size: 9pt;
}
.textarea_a {
    background-color: #fff;
    color: #000;
    border-width: 1px;
    border-color: #c4cad1;
    border-style: solid;
    font-family: '돋움', '굴림', 'verdana', 'arial';
    font-size: 9pt;
    overflow: auto;
}
.input_b {
    background-color: #3d3d3d;
    color: #dadada;
    border: 1px solid #7e7e7e;
    font-family: '돋움', '굴림', 'verdana', 'arial';
    font-size: 9pt;
    padding: 2px 0 0 3px;
}
.select_b {
    background-color: #3d3d3d;
    color: #dadada;
    border: 1px solid #7e7e7e;
    font-size: 9pt;
}
.textarea_b {
    background-color: #3d3d3d;
    color: #dadada;
    border-width: 1px;
    border-color: #7e7e7e;
    border-style: solid;
    font-family: '돋움', '굴림', 'verdana', 'arial';
    font-size: 9pt;
    overflow: auto;
}
.sp_block_on {
    border: 1px solid #a1a1a1;
    font-weight: bold;
}
.sp_block_off {
    border: 0;
    font-weight: bold;
}
.sp_block2_on {
    border: 1px solid #a1a1a1;
}
.sp_block2_off {
    border: 0;
}
.sp_block_now {
    border: 1px solid #acacac;
}
.sp_block_now_font {
    font-weight: bold;
    color: #acacac;
}
.ui-pagenate a,
.ui-pagenate strong {
    display: inline-block;
    zoom: 1;
    display: inline;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 9px;
    vertical-align: middle;
    margin: 0 2px;
}
.ui-pagenate a {
    border: 1px solid #ccc;
    text-decoration: none;
    color: #555;
}
.ui-pagenate a:hover {
    text-decoration: none;
}
.ui-pagenate a.txt {
    font-weight: 800;
    font-size: 11px;
    font-family: Tahoma, Sans-Serif;
    letter-spacing: -3px;
}
.ui-pagenate strong {
    color: #111;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
}
.ibtn {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    font-weight: bold;
    color: #555;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    background: #eee;
    background: -webkit-linear-gradient(#fff, #e8e8e8);
    background: linear-gradient(#fff, #e8e8e8);
}

.login_block {
    display: none;
}
.logout_block {
    display: block;
}
.login_inline {
    display: none;
}
.logout_inline {
    display: inline-block;
    zoom: 1;
    display: inline;
}

/* UTF-8 한글체크 */
#bg_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
    display: none;
}
#bg_wrap.on {
    display: block;
}
#mo_gnb {
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 210;
    background-color: #57514c;
    overflow: auto;
    left: -200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#mo_gnb.on {
    left: 0;
}
#mo_gnb .mo_gnb_header h1 {
    text-align: center;
    padding: 40px 0;
}
#mo_gnb .mo_gnb_header h1 img {
    max-width: 170px;
}

.pm-navigation_vertical_toggle_a1_moall {
    position: relative;
    z-index: 10;
    background-color: #57514c;
}
.pm-navigation_vertical_toggle_a1_moall ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.pm-navigation_vertical_toggle_a1_moall a {
    display: block;
    text-decoration: none;
}
.pm-navigation_vertical_toggle_a1_moall [role='toggle'] > a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 11px;
    height: 6px;
    background: url(./app/public/design/images/skin/mobile_gnb_down.png) 0 0 no-repeat;
    background-size: 11px 6px;
    margin-top: -3px;
}
.pm-navigation_vertical_toggle_a1_moall [role='toggle'].active > a:before {
    background: url(./app/public/design/images/skin/mobile_gnb_up.png) 0 0 no-repeat;
    background-size: 11px 6px;
}
.pm-navigation_vertical_toggle_a1_moall [role='toggle']:nth-child(2) > a:before {
    display: none;
}

/*.pm-navigation_vertical_toggle_a1_moall .dep1 > li {border-top:1px solid #b4b7b9;}
.pm-navigation_vertical_toggle_a1_moall .dep1 > li:first-child {border-top:none;}*/
.pm-navigation_vertical_toggle_a1_moall .dep1 > li > a {
    position: relative;
    padding: 12px 15px;
    background: #57514c;
    font-size: 14px;
    color: #fff;
}

.pm-navigation_vertical_toggle_a1_moall .dep1 > li > a > span {
    display: none;
}
.pm-navigation_vertical_toggle_a1_moall .dep1 > li.on > a,
.pm-navigation_vertical_toggle_a1_moall .dep1 > li.active > a,
.pm-navigation_vertical_toggle_a1_moall .dep1 > li:hover > a {
    background: #fcaf17;
    font-weight: 500;
    color: #5b5149;
}
.pm-navigation_vertical_toggle_a1_moall .dep1 > li > div {
    display: none;
}

.pm-navigation_vertical_toggle_a1_moall .dep2 {
    background: #776c61;
}

.pm-navigation_vertical_toggle_a1_moall .dep2 > li:first-child a {
    padding-top: 14px;
}
.pm-navigation_vertical_toggle_a1_moall .dep2 > li:last-child a {
    padding-bottom: 14px;
}
.pm-navigation_vertical_toggle_a1_moall .dep2 > li > a {
    padding: 6px 15px;
    font-size: 13px;
    color: #eee;
}
.pm-navigation_vertical_toggle_a1_moall .dep2 > li.on > a {
    font-weight: bold;
    color: #fff;
}

.pm-navigation_vertical_toggle_a1_moall .dep3 {
    padding: 0;
    background: #776c61;
}
.pm-navigation_vertical_toggle_a1_moall .dep3 > li > a {
    padding: 4px 15px;
    font-size: 13px;
    color: #aea69f;
}
.pm-navigation_vertical_toggle_a1_moall .dep3 > li > a > span {
    margin-right: 10px;
}
.pm-navigation_vertical_toggle_a1_moall .dep3 > li.on > a {
    font-weight: bold;
    color: #fff;
}

.sub3_2 .dscr {
    font-size: 20px;
    text-align: center;
}
.m_img {
    display: none;
}
.txt_wrap {
    margin-bottom: 20px;
}
.section2 .sec2_01_wrap {
    float: left;
    width: 50%;
}
.section2 .sec2_01_wrap .Img_wrap {
    margin-right: 10px;
}
.section2 .sec2_02_wrap {
    float: left;
    width: 50%;
}
.section2 h5 {
    color: #fcaf17;
    margin: 10px 0;
}
.section5 h5 {
    color: #fcaf17;
}

.sub3_2 .sub02_2_1 {
    text-align: center;
    padding: 70px 0 45px;
}
.sub3_2 .sub02_2_2 {
}
.sub3_2 .sub02_2_2 > li > div {
    position: relative;
}
.sub3_2 .sub02_2_2 > li > div > strong {
    position: relative;
    color: #5d5147;
    font-size: 22px;
    display: block;
    background: #fff;
    padding-left: 50px;
}
.sub3_2 .sub02_2_2 > li > div > strong:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}
.sub3_2 .sub02_2_2 > li > div > strong span {
    position: absolute;
    font-size: 50px;
    color: rgba(252, 175, 23, 0.5);
    font-weight: 700;
    letter-spacing: -0.065em;
    left: 0;
    bottom: 10px;
    line-height: 1em;
}
.sub3_2 .sub02_2_2 > li > div > p {
    color: #5d5147;
    font-size: 16px;
    display: block;
    line-height: 1.4em;
    padding: 6px 0 40px;
}
.sub3_2 .sub02_2_2 > li > .list {
    display: block;
    margin: 0 0 80px;
}
.sub3_2 .sub02_2_2 > li > .list:after {
    content: '';
    display: block;
    clear: both;
}
.sub3_2 .sub02_2_2 > li > .list li {
    float: left;
    width: 688px;
    vertical-align: middle;
}
.sub3_2 .sub02_2_2 > li:nth-child(even) > div {
    text-align: right;
}
.sub3_2 .sub02_2_2 > li:nth-child(even) > div > strong {
    padding-left: 0;
    padding-right: 40px;
}
.sub3_2 .sub02_2_2 > li:nth-child(even) > div > strong span {
    left: auto;
    right: 0;
}
.sub3_2 .sub02_2_2 > li:nth-child(even) > .list li {
    float: right;
}
.sub3_2 .sub02_2_2 > li > .list li.txt {
    width: calc(100% - 688px);
    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div {
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div.col-2:after {
    content: '';
    display: block;
    clear: both;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div.col-2 p {
    width: 60%;
    float: left;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div.col-2 p:nth-child(even) {
    width: 40%;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div p {
    display: block;
    color: #5d5147;
    margin: 0 0 20px;
    word-break: keep-all;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div p:last-child {
    margin: 0;
}
.sub3_2 .sub02_2_2 > li > .list li.txt > div p:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #b5985a;
    margin-right: 10px;
    vertical-align: middle;
}
.sub3_2 .section2 {
    margin-bottom: 40px;
}
.sub3_2 .section3 {
    padding-top: 20px;
}
.sub3_2 .section3 .txt p {
    margin: 10px 0;
}
.sub3_2 .section3,
.sub3_2 .section4,
.sub3_2 .section5,
.sub3_2 .section6,
.sub3_2 .section7 {
    margin-bottom: 40px;
}
.section4 {
    padding-top: 20px;
}
.section4 .Img_wrap .Img > div {
    float: left;
    width: 50%;
}
.section4 .Img_wrap .Img figure {
    margin-right: 10px;
    text-align: center;
}

.section5 {
    padding-top: 20px;
}
.section5 .Img_wrap .Img > div {
    float: left;
    width: 50%;
}
.section5 .Img_wrap .Img figure {
    margin-right: 10px;
}
.section6 {
    padding-top: 20px;
}

.section7 {
    padding-top: 20px;
}
.section7 .Img_wrap .Img > div {
    float: left;
    width: 50%;
}
.section7 .Img_wrap .Img figure {
    margin-right: 10px;
}

@media screen and (max-width: 1100px) {
    .sub3_2 .sub02_2_2 > li > .list li {
        width: 60%;
    }
    .sub3_2 .sub02_2_2 > li > .list li img {
        width: 100%;
    }
    .sub3_2 .sub02_2_2 > li > .list li.txt {
        width: 40%;
        padding: 15px 20px;
    }
    .sub3_2 .sub02_2_2 > li > .list li.txt > div p {
        margin: 0 0 12px;
        font-size: 15px;
    }
    .sub3_2 .sub02_2_2 > li > div > strong {
        font-size: 20px;
        padding-left: 42px;
    }
    .sub3_2 .sub02_2_2 > li:nth-child(even) > div > strong {
        padding-right: 32px;
    }
    .sub3_2 .sub02_2_2 > li > div > strong span {
        font-size: 42px;
        bottom: 7px;
    }
    .sub3_2 .sub02_2_2 > li > div > p {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .m_img {
        display: block;
    }
    .pc_img {
        display: none;
    }
    .section2 .sec2_01_wrap,
    .section2 .sec2_02_wrap {
        width: 100%;
        margin-bottom: 20px;
    }
    .section2 img,
    .section3 img,
    .section4 img,
    .section5 img,
    .section6 img,
    .section7 img {
        width: 100%;
        height: auto;
    }
    .section4 .Img_wrap .Img > div,
    .section5 .Img_wrap .Img > div,
    .section7 .Img_wrap .Img > div {
        width: 100%;
        margin-bottom: 10px;
    }
    .sub3_2 .dscr {
        font-size: 18px;
    }
    .sub3_2 .dscr_txt {
        font-size: 14px;
    }
    .section2 p,
    .section3 p,
    .section4 p,
    .section5 p,
    .section5 span,
    .section6 span {
        font-size: 14px;
    }

    .sub3_2 .sub02_2_2 > li:nth-child(even) > div {
        text-align: left;
    }
    .sub3_2 .sub02_2_2 > li:nth-child(even) > div > strong {
        padding-right: 0;
        padding-left: 42px;
    }
    .sub3_2 .sub02_2_2 > li:nth-child(even) > div > strong span {
        left: 0;
        right: auto;
    }
    .sub3_2 .sub02_2_2 > li > .list {
        margin: 0 0 50px;
    }
    .sub3_2 .sub02_2_2 > li > .list li {
        float: none;
        width: 100%;
    }
    .sub3_2 .sub02_2_2 > li:nth-child(even) > .list li {
        float: none;
        width: 100%;
    }
    .sub3_2 .sub02_2_2 > li > .list li.txt {
        padding: 20px 0;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .sub3_2 .dscr {
        font-size: 15px;
    }
    .sec_tit {
        font-size: 15px !important;
    }
}

.sec_tit_dscr {
    text-align: right;
    word-break: keep-all;
}
.sec2 {
    border: none;
}
.position_relative_overflow_hidden {
    position: relative;
    overflow: hidden;
}
.position_absolute_left_0_top_20_width_100_height_140 {
    position: absolute;
    left: 0;
    top: -20%;
    width: 100%;
    height: 140%;
}
